.usersPage {
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100%;
    gap: 10px;
    background-color: #f1f1f1;
}

.users {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, auto));
    /*grid-auto-flow: row;*/
    gap: 10px;
    background-color: #f1f1f1;
    padding-bottom: 10px;
}
