.body{
    padding: 15px;
}

.textarea{
    width: 100%;
    min-height: 80px;
    background: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn_wrapper{
    text-align: right;
}

.btn{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    padding: 11px 28px;
    display: inline-block;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: #dc4734;
    transition: background-color ease 0.5s;
}

.btn:hover{
    background-color: #333333;
}