.body {
    grid-area: h;
    background: #dc4734;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

.logo {
    flex: 0 0 50px;
}

.logo img {
    width: 100%;
    border-radius: 50%;
}